header {
    display: flex;
    height: 70px;
    background-color: #181C32;
    padding: 5px;
    padding-left: 20px;
    align-items: center;
}
header > #logo > img {
    height: 40px;
    object-fit: cover;
}
body {
    padding: 0;
    margin: 0;
}
#container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px;
    column-gap: 20px;
    flex-direction: column;
}
.log_container {
    display: flex;
    width: 100%;
    padding: 10px;
    column-gap: 20px;
}

table {
    text-align: center;
}

.quetone-alert {
    position: absolute;
    right: 10px;
    top: 15px;
    opacity: 0.8;
    font-size: 14px;
}

.closed {
    display: none;
}

button {
    background-color: transparent;
    border: 0;
}