header {
    display: flex;
    height: 70px;
    background-color: #181C32;
    padding: 5px;
    padding-left: 20px;
    align-items: center;
}

header>#logo>img {
    height: 40px;
    object-fit: cover;
}

body {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px;
    column-gap: 20px;
    flex-direction: column;
}

.log_container {
    display: flex;
    width: 100%;
    padding: 10px;
    column-gap: 20px;
}

table {
    text-align: center;
}

.quetone-alert {
    position: absolute;
    right: 10px;
    top: 15px;
    opacity: 0.85;
    padding: 20px;
}

.closed {
    display: none;
}

button {
    background-color: transparent;
    border: 0;
}

@keyframes blink-effect {
    50% {
        opacity: 0.1;
    }
}

.blink {
    animation: blink-effect 1.5s step-end infinite;

    /*
    animation-name: blink-effect;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    animation-timing-function:step-end;
    */
}